/* The main calendar widget.  DIV containing a table. */

.calendar {
  position: relative;
  display: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,verdana,sans-serif;
}

.calendar table {
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #d4d0c8;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;
  padding: 1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
}

.calendar .nav {
  background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/calendar/menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;
  padding: 1px;
  border: 1px solid #000;
  background: #848078;
  color: #fff;
  text-align: center;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #000;
  padding: 2px;
  text-align: center;
  background: #f4f0e8;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #f00;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border-top: 2px solid #fff;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #fff;
  padding: 0px;
  background-color: #e4e0d8;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  background-color: #c4c0b8;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
  color: #faa;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #f4f0e8;
}

.calendar tbody .rowhilite td {
  background: #e4e0d8;
}

.calendar tbody .rowhilite td.wn {
  background: #d4d0c8;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  padding: 2px 2px 0px 2px;
  background: #e4e0d8;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #f00;
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #f4f0e8;
  padding: 1px;
  border: 1px solid #000;
  background: #848078;
  color: #fff;
  text-align: center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  padding: 1px;
  background: #e4e0d8;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  background: #e4e0d8;
  font-size: 90%;
  padding: 1px;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  background: #c4c0b8;
  padding: 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

.calendar .combo .hilite {
  background: #048;
  color: #fea;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #766;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}

/*
 * Ext JS Library 1.1 Beta 1
 * Copyright(c) 2006-2007, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://www.extjs.com/license
 */

.ext-el-mask {
    z-index: 20000;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.ext-el-mask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background: #c3daf9 url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/box/tb-blue.gif) repeat-x 0 -16px;
    padding:2px;
}
.ext-el-mask-msg div {
    padding:5px 10px 5px 10px;
    background: #eee;
    border:1px solid #a3bad9;
    color:#333;
    /* font:normal 12px tahoma, arial, helvetica, sans-serif; */
    cursor:wait;
}

.ext-shim {
    position:absolute;
    visibility:hidden;
    left:0;
    top:0;
    overflow:hidden;
}
.ext-ie .ext-shim {
    filter: alpha(opacity=0);
}

.x-mask-loading div {
    padding:5px 10px 5px 25px;
    background: #eee url('http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
}


.x-hidden {
    position:absolute;
    left:-2000px;
    top:-2000px;
    visibility:hidden;
}

.x-masked {
    overflow: hidden !important;
}

.x-masked select, .x-masked object, .x-masked embed {
    visibility: hidden;
}

.x-layer {
    visibility: hidden;
}

.x-unselectable, .x-unselectable * {
    -moz-user-select: none;
    -khtml-user-select: none;
}

.x-repaint {
    zoom: 1;
    background-color: transparent;
    -moz-outline: none;
}

.x-item-disabled {
    color: gray;
    cursor: default;
    opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
}

.x-item-disabled * {
    color: gray;
    cursor: default !important;
}

.x-splitbar-proxy {
    position: absolute;
    visibility: hidden;
    z-index: 20001;
    background: #aaa;
    zoom: 1;
    line-height: 1px;
    font-size: 1px;
    overflow: hidden;
}

.x-splitbar-h, .x-splitbar-proxy-h {
    cursor: e-resize;
    cursor: col-resize;
}

.x-splitbar-v, .x-splitbar-proxy-v {
    cursor: s-resize;
    cursor: row-resize;
}

.x-color-palette {
    width: 150px;
    height: 92px;
    cursor: pointer;
}

.x-color-palette a {
    border: 1px solid #fff;
    float: left;
    padding: 2px;
    text-decoration: none;
    -moz-outline: 0 none;
    outline: 0 none;
    cursor: pointer;
}

.x-color-palette a:hover, .x-color-palette a.x-color-palette-sel {
    border: 1px solid #8BB8F3;
    background: #deecfd;
}

.x-color-palette em {
    display: block;
    border: 1px solid #ACA899;
}

.x-color-palette em span {
    cursor: pointer;
    display: block;
    height: 10px;
    line-height: 10px;
    width: 10px;
}

.x-ie-shadow {
    display: none;
    position: absolute;
    overflow: hidden;
    left:0;
    top:0;
    background:#777;
    zoom:1;
}

.x-shadow {
    display: none;
    position: absolute;
    overflow: hidden;
    left:0;
    top:0;
}

.x-shadow * {
    overflow: hidden;
}

.x-shadow * {
    padding: 0;
    border: 0;
    margin: 0;
    clear: none;
    zoom: 1;
}


.x-shadow .xstc, .x-shadow .xsbc {
    height: 6px;
    float: left;
}


.x-shadow .xstl, .x-shadow .xstr, .x-shadow .xsbl, .x-shadow .xsbr {
    width: 6px;
    height: 6px;
    float: left;
}


.x-shadow .xsc {
    width: 100%;
}

.x-shadow .xsml, .x-shadow .xsmr {
    width: 6px;
    float: left;
    height: 100%;
}

.x-shadow .xsmc {
    float: left;
    height: 100%;
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow-c.png);
}

.x-shadow .xst, .x-shadow .xsb {
    height: 6px;
    overflow: hidden;
    width: 100%;
}

.x-shadow .xsml {
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow-lr.png) repeat-y 0 0;
}

.x-shadow .xsmr {
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow-lr.png) repeat-y -6px 0;
}

.x-shadow .xstl {
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow.png) no-repeat 0 0;
}

.x-shadow .xstc {
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow.png) repeat-x 0 -30px;
}

.x-shadow .xstr {
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow.png) repeat-x 0 -18px;
}

.x-shadow .xsbl {
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow.png) no-repeat 0 -12px;
}

.x-shadow .xsbc {
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow.png) repeat-x 0 -36px;
}

.x-shadow .xsbr {
    background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shadow.png) repeat-x 0 -6px;
}

.loading-indicator {
    font-size: 11px;
    background-image: url('http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    line-height: 16px;
    margin: 3px;
}

.x-text-resize {
    position: absolute;
    left: -1000px;
    top: -1000px;
    visibility: hidden;
    zoom: 1;
}

.x-drag-overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    z-index: 20000;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.x-clear {
    clear:both;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
}
.x-tabs-wrap {
	border-bottom:1px solid #6593cf;
	padding-top:2px;
}
.x-tabs-strip-wrap{
	width:100%;	
}
.x-tabs-wrap table{
	position:relative;
	top:0; left:0;
}
.x-tabs-strip td{
	padding:0;
	padding-left:2px;
}
.x-tabs-strip a, .x-tabs-strip span, .x-tabs-strip em {
	display:block;
}
.x-tabs-strip a {
	text-decoration:none !important;
	-moz-outline: none;
	outline: none;
	cursor:pointer;
}
.x-tabs-strip .x-tabs-text {
	/*font:bold 11px tahoma,arial,helvetica; */
	color:#666;
	overflow:hidden;
	white-space: nowrap;
	cursor:pointer;
	text-overflow: ellipsis;
}
.x-tabs-strip .on .x-tabs-text {
	cursor:default;
	color:#083772;
}
.x-tabs-strip .disabled .x-tabs-text {
	cursor:default;
	color:#aaaaaa;
}
.x-tabs-strip .x-tabs-inner {
	 padding:4px 10px;	
}

.x-tabs-strip .on .x-tabs-right {
	 background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/tabs/tab-sprite.gif) no-repeat right 0;
}
.x-tabs-strip .on .x-tabs-left {
	 background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/tabs/tab-sprite.gif) no-repeat 0 -100px;
}
.x-tabs-strip .x-tabs-right {
	 background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/tabs/tab-sprite.gif) no-repeat right -50px;
}
.x-tabs-strip .x-tabs-left {
	 background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/tabs/tab-sprite.gif) no-repeat 0 -150px;
}

.x-tabs-strip  a {
	position:relative;
	top:1px; left:0;
}
.x-tabs-strip .on a {
	position:relative;
}
.x-tabs-strip .on .x-tabs-inner {
	padding-bottom:5px;
}

.x-tabs-strip .x-tabs-closable .x-tabs-inner{
	padding-right:22px;
	position:relative;
}
.x-tabs-strip .x-tabs-closable .close-icon{
	line-height: 1px;
	font-size:1px;
	background-image:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/layout/tab-close.gif);
	display:block;
	position:absolute;
	right:5px;top:4px;
	width:11px;height:11px;
	cursor:pointer;
}
.x-tabs-strip .on .close-icon{
	background-image:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/layout/tab-close-on.gif);
}
.x-tabs-strip .x-tabs-closable .close-over{
	background-image:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/layout/tab-close-on.gif);
}
.x-tabs-body {
    border:1px solid #6593cf;
    border-top:0 none;
}
.x-tabs-bottom .x-tabs-wrap {
	border-top:1px solid #6593cf;
	border-bottom:0 none;
	padding-top:0;
	padding-bottom:2px;
}
.x-tabs-bottom .x-tabs-strip .x-tabs-right {
	 background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/tabs/tab-btm-inactive-right-bg.gif) no-repeat bottom left;
}
.x-tabs-bottom .x-tabs-strip .x-tabs-left {
	 background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/tabs/tab-btm-inactive-left-bg.gif) no-repeat bottom right;
}
.x-tabs-bottom .x-tabs-strip .on .x-tabs-right {
	 background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/tabs/tab-btm-right-bg.gif) no-repeat bottom left;
}
.x-tabs-bottom .x-tabs-strip .on .x-tabs-left {
	 background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/tabs/tab-btm-left-bg.gif) no-repeat bottom right;
}
.x-tabs-bottom .x-tabs-strip  a {
	position:relative;
	top:0; left:0;
}
.x-tabs-bottom .x-tabs-strip .on a {
	margin-top:-1px;
}
.x-tabs-bottom .x-tabs-strip .on .x-tabs-inner {
	padding-top:5px;
}

.x-tabs-bottom .x-tabs-body {
    border:1px solid #6593cf;
    border-bottom:0 none;
}

.x-form-field{    margin: 0 0 0 0;  /*  font:normal 12px tahoma, arial, helvetica, sans-serif;*/}.x-form-text, textarea.x-form-field{    padding: 1px 3px;    background:#fff url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/form/text-bg.gif) repeat-x 0 0;    border: 1px solid #B5B8C8;}.x-form-text {    height:22px;    line-height:18px;    vertical-align:middle;}.ext-ie .x-form-text {    margin-top:-1px;     margin-bottom:-1px;    height:22px;     line-height:18px;}.ext-strict .x-form-text {    height:18px;}.ext-safari .x-form-text {    height:20px; }.ext-gecko .x-form-text {    padding-top:2px;     padding-bottom:0;}.x-form-select-one {    height:20px;    line-height:18px;    vertical-align:middle;    background-color:#fff;     border: 1px solid #B5B8C8;}.x-form-field-wrap {    position:relative;    zoom:1;    white-space: nowrap;}.x-editor .x-form-check-wrap {    background:#fff;}.x-form-field-wrap .x-form-trigger{    width:17px;    height:21px;    border:0;    background:transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/form/trigger.gif) no-repeat 0 0;    cursor:pointer;    border-bottom: 1px solid #B5B8C8;    position:absolute;    top:0;}.ext-safari .x-form-field-wrap .x-form-trigger{    height:19px; }.x-form-field-wrap .x-form-clear-trigger{    background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/form/clear-trigger.gif);    cursor:pointer;}.x-form-field-wrap .x-form-search-trigger{    background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/form/search-trigger.gif);    cursor:pointer;}.ext-safari .x-form-field-wrap .x-form-trigger{    right:0;}.x-form-field-wrap .x-form-twin-triggers{    }.x-form-field-wrap .x-form-twin-triggers .x-form-trigger{    position:static;    top:auto;    vertical-align:top;}.x-form-field-wrap .x-form-trigger-over{    background-position:-17px 0;}.x-form-field-wrap .x-form-trigger-click{    background-position:-34px 0;}.x-trigger-wrap-focus .x-form-trigger{    background-position:-51px 0;}.x-trigger-wrap-focus .x-form-trigger-over{    background-position:-68px 0;}.x-trigger-wrap-focus .x-form-trigger-click{    background-position:-85px 0;}.x-trigger-wrap-focus .x-form-trigger{    border-bottom: 1px solid #7eadd9;}.x-item-disabled .x-form-trigger-over{    background-position:0 0 !important;    border-bottom: 1px solid #B5B8C8;}.x-item-disabled .x-form-trigger-click{    background-position:0 0 !important;    border-bottom: 1px solid #B5B8C8;}.x-form-focus, textarea.x-form-focus{	border: 1px solid #7eadd9;}.x-form-invalid, textarea.x-form-invalid{	background:#fff url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/invalid_line.gif) repeat-x bottom;	border: 1px solid #dd7870;}.ext-safari .x-form-invalid{	background-color:#ffeeee;	border: 1px solid #ff7870;}.x-editor {    visibility:hidden;    padding:0;    margin:0;}.x-form-check-wrap {    line-height:18px;}.ext-ie .x-form-check-wrap input {    width:15px;    height:15px;}.x-editor .x-form-check-wrap {    padding:3px;}.x-editor .x-form-checkbox {    height:13px;    border: 0 none;}.x-form-grow-sizer {	/* font:normal 12px tahoma, arial, helvetica, sans-serif;*/    left: -10000px;	padding: 8px 3px;    position: absolute;    visibility:hidden;    top: -10000px;	white-space: pre-wrap;    white-space: -moz-pre-wrap;    white-space: -pre-wrap;    white-space: -o-pre-wrap;    word-wrap: break-word;    zoom:1;}.x-form-grow-sizer p {    margin:0 !important;    border:0 none !important;    padding:0 !important;}.x-form-item {    /*font:normal 12px tahoma, arial, helvetica, sans-serif; */   display:block;    margin-bottom:4px;}.x-form-item label {    display:block;    float:left;    width:100px;    padding:3px;    padding-left:0;    clear:left;    z-index:2;    position:relative;}.x-form-element {    padding-left:105px;    position:relative;}.x-form-invalid-msg {    color:#ee0000;    padding:2px;    padding-left:18px;  /*  font:normal 11px tahoma, arial, helvetica, sans-serif; */   background: transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/shared/warning.gif) no-repeat 0 2px;    line-height:16px;    width:200px;}.x-form-label-right label {   text-align:right;}.x-form-label-top .x-form-item label {    width:auto;    float:none;    clear:none;    display:inline;    margin-bottom:4px;    position:static;}.x-form-label-top .x-form-element {    padding-left:0;    padding-top:4px;}.x-form-label-top .x-form-item {    padding-bottom:4px;}.x-form fieldset {    border:1px solid #B5B8C8;    padding:10px 10px 5px 10px;    margin-bottom:10px;}.x-form fieldset legend {  /*  font:bold 11px tahoma, arial, helvetica, sans-serif;    */color:#15428b;}.ext-ie .x-form fieldset legend {    margin-bottom:10px;}.ext-ie .x-form fieldset {    padding-top: 0;}.x-form-empty-field {    color:gray;}.x-small-editor .x-form-field { /*   font:normal 11px arial, tahoma, helvetica, sans-serif; */}.x-small-editor .x-form-text {    height:20px;    line-height:16px;    vertical-align:middle;}.ext-ie .x-small-editor .x-form-text {    margin-top:-1px !important;     margin-bottom:-1px !important;    height:20px !important;     line-height:16px !important;}.ext-strict .x-small-editor .x-form-text {    height:16px !important;}.ext-safari .x-small-editor .x-form-field {   /*     font:normal 12px arial, tahoma, helvetica, sans-serif; */}.ext-ie .x-small-editor .x-form-text {    height:20px;    line-height:16px;}.ext-border-box .x-small-editor .x-form-text {    height:20px;}.x-small-editor .x-form-select-one {    height:20px;    line-height:16px;    vertical-align:middle;}.x-small-editor .x-form-num-field {    text-align:right;}.x-small-editor .x-form-field-wrap .x-form-trigger{    height:19px;}.x-form-clear {    clear:both;    height:0;    overflow:hidden;    line-height:0;    font-size:0;}.x-form-clear-left {    clear:left;    height:0;    overflow:hidden;    line-height:0;    font-size:0;}.x-form-cb-label {    width:'auto' !important;    float:none !important;    clear:none !important;    display:inline !important;    margin-left:4px;}.x-form-column {    float:left;    padding:0;    margin:0;    width:48%;    overflow:hidden;    zoom:1;}.x-form .x-form-btns-ct .x-btn{	float:right;	clear:none;}.x-form .x-form-btns-ct .x-form-btns td {	border:0;	padding:0;}.x-form .x-form-btns-ct .x-form-btns-right table{	float:right;	clear:none;}.x-form .x-form-btns-ct .x-form-btns-left table{	float:left;	clear:none;}.x-form .x-form-btns-ct .x-form-btns-center{	text-align:center; }.x-form .x-form-btns-ct .x-form-btns-center table{	margin:0 auto; }.x-form .x-form-btns-ct table td.x-form-btn-td{	padding:3px;}.x-form .x-form-btns-ct .x-btn-focus .x-btn-left{	background-position:0 -147px;}.x-form .x-form-btns-ct .x-btn-focus .x-btn-right{	background-position:0 -168px;}.x-form .x-form-btns-ct .x-btn-focus .x-btn-center{	background-position:0 -189px;}.x-form .x-form-btns-ct .x-btn-click .x-btn-center{	background-position:0 -126px;}.x-form .x-form-btns-ct .x-btn-click  .x-btn-right{	background-position:0 -84px;}.x-form .x-form-btns-ct .x-btn-click .x-btn-left{	background-position:0 -63px;}.x-form-invalid-icon {    width:16px;    height:18px;    visibility:hidden;    position:absolute;    left:0;    top:0;    display:block;    background:transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/form/exclamation.gif) no-repeat 0 2px;}.x-btn{
	/*font:normal 11px tahoma, verdana, helvetica; */
	cursor:pointer;
	white-space: nowrap;
}
.x-btn button{
    border:0 none;
    background:transparent;
   /* font:normal 11px tahoma,verdana,helvetica; */
    padding-left:3px;
    padding-right:3px;
    cursor:pointer;
    margin:0;
    overflow:visible;
    width:auto;
    -moz-outline:0 none;
    outline:0 none;
}
* html .ext-ie .x-btn button {
    width:1px;
}
.ext-gecko .x-btn button {
    padding-left:0;
    padding-right:0;
}
.ext-ie .x-btn button {
    padding-top:2px;
}

 
.x-btn-icon .x-btn-center .x-btn-text{
	background-position: center;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	cursor:pointer;
	white-space: nowrap;
    padding:0;
}
.x-btn-icon .x-btn-center{
	padding:1px;
}
.x-btn em {
    font-style:normal;
    font-weight:normal;
}


.x-btn-text-icon .x-btn-center .x-btn-text{
	background-position: 0 2px;
	background-repeat: no-repeat;
	padding-left:18px;
	padding-top:3px;
	padding-bottom:3px;
    padding-right:0;
}

.x-btn-left, .x-btn-right{
	font-size:1px;
    line-height:1px;
}
.x-btn-left{
	width:3px;
	height:21px;
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/basic-dialog/btn-sprite.gif) no-repeat 0 0;
}
.x-btn-right{
	width:3px;
	height:21px;
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/basic-dialog/btn-sprite.gif) no-repeat 0 -21px;
}
.x-btn-left i, .x-btn-right i{
	display:block;
    width:3px;
    overflow:hidden;
    font-size:1px;
    line-height:1px;
}
.x-btn-center{
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/basic-dialog/btn-sprite.gif) repeat-x 0 -42px;
	vertical-align: middle;
	text-align:center;
	padding:0 5px;
	cursor:pointer;
	white-space:nowrap;
}
.x-btn-over .x-btn-left{
	background-position:0 -63px;
}
.x-btn-over .x-btn-right{
	background-position:0 -84px;
}
.x-btn-over .x-btn-center{
	background-position:0 -105px;
}
.x-btn-click .x-btn-center, .x-btn-menu-active .x-btn-center{
	background-position:0 -126px;
}
.x-btn-disabled *{
	color:gray !important;
	cursor:default !important;
}
.x-btn-menu-text-wrap .x-btn-center {
	padding:0 3px;
}
.ext-gecko .x-btn-menu-text-wrap .x-btn-center {
	padding:0 1px;
}
.x-btn-menu-arrow-wrap .x-btn-center {
    padding:0;
}
.x-btn-menu-arrow-wrap .x-btn-center button {
	width:12px !important;
    height:21px;
    padding:0 !important;
    display:block;
    background:transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/basic-dialog/btn-arrow.gif) no-repeat left 3px;
}
.x-btn-with-menu  .x-btn-center {
    padding-right:2px !important;
}
.x-btn-with-menu  .x-btn-center em {
    display:block;
    background:transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/btn-arrow.gif) no-repeat right 0;
	padding-right:10px;
}

.x-btn-text-icon .x-btn-with-menu .x-btn-center em {
    display:block;
    background:transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/btn-arrow.gif) no-repeat right 3px;
	padding-right:10px;
}.x-toolbar{
	border-top: 1px solid #eaf0f7;
    border-bottom: 1px solid #a9bfd3;
    display: block;
	padding:2px;
    background:#d0def0 url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/layout/panel-title-light-bg.gif) repeat-x;
    position:relative;
}
.x-toolbar .x-item-disabled .x-btn-icon {
    opacity: .35;
    -moz-opacity: .35;
    filter: alpha(opacity=35);
}
.x-toolbar td {
	vertical-align:middle;
}
.mso .x-toolbar, .x-grid-mso .x-toolbar{
	border: 0 none;
	background: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/mso-hd.gif);
}
.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label{
	white-space: nowrap;
    /* font:normal 11px tahoma, arial, helvetica, sans-serif; */
}
.x-toolbar .x-item-disabled {
	color:gray;
	cursor:default;
	opacity:.6;
	-moz-opacity:.6;
	filter:alpha(opacity=60);
}
.x-toolbar .x-item-disabled * {
	color:gray;
	cursor:default;
}
.x-toolbar .x-btn-left{
	background:none;
}
.x-toolbar .x-btn-right{
	background:none;
}
.x-toolbar .x-btn-center{
	background:none;
	padding:0 0;
}

.x-toolbar .x-btn-menu-text-wrap .x-btn-center button{
	padding-right:2px;
}
.ext-gecko .x-toolbar .x-btn-menu-text-wrap .x-btn-center button{
	padding-right:0;
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button{
	padding:0 2px;
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
    width:12px;
    background:transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/btn-arrow.gif) no-repeat 0 3px;
}
.x-toolbar .x-btn-text-icon .x-btn-menu-arrow-wrap .x-btn-center button {
    width:12px;
    background:transparent url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/btn-arrow.gif) no-repeat 0 3px;
}
.x-toolbar .x-btn-over .x-btn-menu-arrow-wrap .x-btn-center button {
	background-position: 0 -47px;
}
.x-toolbar .x-btn-over .x-btn-left{
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 0;
}
.x-toolbar .x-btn-over .x-btn-right{
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 -21px;
}
.x-toolbar .x-btn-over .x-btn-center{
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/tb-btn-sprite.gif) repeat-x 0 -42px;
}

.x-toolbar .x-btn-click .x-btn-left, .x-toolbar .x-btn-pressed .x-btn-left, .x-toolbar .x-btn-menu-active .x-btn-left{
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 -63px;
}
.x-toolbar .x-btn-click .x-btn-right, .x-toolbar .x-btn-pressed .x-btn-right, .x-toolbar .x-btn-menu-active .x-btn-right{
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/tb-btn-sprite.gif) no-repeat 0 -84px;
}
.x-toolbar .x-btn-click .x-btn-center, .x-toolbar .x-btn-pressed .x-btn-center, .x-toolbar .x-btn-menu-active .x-btn-center{
	background:url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/toolbar/tb-btn-sprite.gif) repeat-x 0 -105px;
}

.x-toolbar .x-btn-with-menu .x-btn-center em{
	padding-right:8px;
}

.x-toolbar .ytb-text{
   padding:2px;
}
.x-toolbar .ytb-sep {
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/grid-split.gif);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	font-size: 1px;
	height: 16px;
	width:4px;
	overflow: hidden;
	cursor:default;
	margin: 0 2px 0;
	border:0;
}
.x-toolbar .ytb-spacer {
    width:2px;
}
.mso .x-toolbar .ytb-sep, .x-grid-mso .x-toolbar .ytb-sep{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/grid-blue-split.gif);
}


.ext-ie .x-toolbar .x-form-field-wrap {
	padding-bottom:1px;
}
.ext-ie .x-toolbar .x-form-field-wrap .x-form-trigger {
	top:1px;
}
.ext-ie .x-toolbar .x-form-field-wrap .x-form-twin-triggers img {
	margin-top:1px;
}



.x-grid-page-number{
	width:24px;
	height:14px;
}
.x-grid-page-first .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/page-first.gif);
}
.x-grid-loading .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/done.gif);
}
.x-grid-page-last .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/page-last.gif);
}
.x-grid-page-next .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/page-next.gif);
}
.x-grid-page-prev .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/page-prev.gif);
}
.x-item-disabled .x-grid-loading .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/loading.gif);
}
.x-item-disabled .x-grid-page-first .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/page-first-disabled.gif);
}
.x-item-disabled .x-grid-page-last .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/page-last-disabled.gif);
}
.x-item-disabled .x-grid-page-next .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/page-next-disabled.gif);
}
.x-item-disabled .x-grid-page-prev .x-btn-text{
	background-image: url(http://192.168.1.18/magento1901/ma_happystore/js/extjs/resources/css/../images/default/grid/page-prev-disabled.gif);
}
.x-paging-info {
    position:absolute;
    top:8px;
    right: 8px;
    color:#15428b;
}
.x-resizable-handle {
    position:absolute;
    z-index:100;
    
    font-size:1px;
    line-height:6px;
    overflow:hidden;
	 background:white;
	 filter:alpha(opacity=0);
	 opacity:0;
	 zoom:1;
}
.x-resizable-handle-east{
    width:6px;
    cursor:e-resize;
    right:0;
    top:0;
    height:100%;
}
.ext-ie .x-resizable-handle-east {
      margin-right:-1px; 
}
.x-resizable-handle-south{
    width:100%;
    cursor:s-resize;
    left:0;
    bottom:0;
    height:6px;
}
.ext-ie .x-resizable-handle-south {
     margin-bottom:-1px; 
}
.x-resizable-handle-west{
    width:6px;
    cursor:w-resize;
    left:0;
    top:0;
    height:100%;
}
.x-resizable-handle-north{
    width:100%;
    cursor:n-resize;
    left:0;
    top:0;
    height:6px;
}
.x-resizable-handle-southeast{
    width:6px;
    cursor:se-resize;
    right:0;
    bottom:0;
    height:6px;
    z-index:101;
}
.x-resizable-handle-northwest{
    width:6px;
    cursor:nw-resize;
    left:0;
    top:0;
    height:6px;
    z-index:101;
}
.x-resizable-handle-northeast{
    width:6px;
    cursor:ne-resize;
    right:0;
    top:0;
    height:6px;
    z-index:101;
}
.x-resizable-handle-southwest{
    width:6px;
    cursor:sw-resize;
    left:0;
    bottom:0;
    h