<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
/* Count for timer calculation declared here */
$count = 1;
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');

/* Admin Controllers for timer are declared here */
$timer_active = Mage::getStoreConfig('timer/general/activate_magentothem_timer');
$timer_head_active = Mage::getStoreConfig('timer/general/activate_magentothem_heading');
$timer_desc_active = Mage::getStoreConfig('timer/general/activate_magentothem_description');
$timer_color = Mage::getStoreConfig('timer/magentothem_timer_color/text');
$desc_color = Mage::getStoreConfig('timer/magentothem_timer_color/description');
$head_color = Mage::getStoreConfig('timer/magentothem_timer_color/heading_text_color');
$timer_head = Mage::getStoreConfig('timer/general/heading');
?>

<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
<?php echo $this->getToolbarHtml() ?>

<?php // List mode ?>
<?php if($this->getMode()!='grid'): ?>
<?php $_iterator = 0; ?>
<ol class="products-list" id="products-list">
	<?php foreach ($_productCollection as $_product):?>
	<?php $toDate = $_product->getSpecialTODate(); ?>
	<?php $fromDate = $_product->getSpecialFromDate(); ?>
		<li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
			<div class="item-inner">
				<div class="row">
					<div class="col-sm-4 col-sms-4 col-smb-12">
						<?php // Product Image ?>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500,500); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
					</div>
					<div class="product-shop col-sm-8 col-sms-8 col-smb-12"> 
						<div class="f-fix">
						<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
						<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
						<?php if($_product->getRatingSummary()): ?>
						<?php echo $this->getReviewsSummaryHtml($_product) ?>
						<?php endif; ?>
						<?php echo $this->getPriceHtml($_product, true) ?>

						<!--Condition for Timer Controllers goes here-->
						<?php if($timer_active == 1) :?>
						<?php if(($_product->getPrice() > $_product->getSpecialPrice() || Mage::getModel('catalog/product')->load($_product->getId())->getTypeID() == 'bundle') && Mage::getModel('catalog/product')->load($_product->getId())->getTimershow() == 1) : ?>
						<?php if($_product->getSpecialPrice()!= 0 || $_product->getSpecialPrice()!= "" ) :?>
						<?php if($timer_head_active == 'showall' || $timer_head_active == 'listpage' && $timer_head_active!='hideall' && $timer_head!= '') : ?>
												<div id="heading<?php echo $count; ?>" style="color:#<?php echo $head_color; ?>; font-size: 14px; font-weight:bold;padding-top:0px;clear: both;"><?php echo $timer_head ?></div>
						<?php endif; ?>
												<div id="countbox_<?php echo $count; ?>" class="timer-list"></div>
						<?php if($timer_desc_active == 'showall' || $timer_desc_active == 'listpage' && $timer_desc_active!='hideall') : ?>
												
												<?php
												if(Mage::getModel('catalog/product')->load($_product->getId())->getTypeID() == 'bundle')
												{
													echo '<br/><h1 style="color:red">Discount up to '.(100 - Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice()*1).'% </h1>';
												}
												?>
						<?php endif;endif;endif;endif; ?>
							<div class="desc std">
							<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
							 <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
							</div>
							<div class="actions">
								<div class="actions-inner">
									<?php if($_product->isSaleable()): ?>
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><em class="tooltip"><?php echo $this->__('Add to cart') ?></em><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<?php else: ?>
									<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
									<?php endif; ?>
									
									<ul class="add-to-links">
									<?php if ($this->helper('wishlist')->isAllow()) : ?>
									<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><em class="tooltip"><?php echo $this->__('Wishlist') ?></em><?php echo $this->__('Add to Wishlist') ?></a></li>
									<?php endif; ?>
									<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
									<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><em class="tooltip"><?php echo $this->__('Compare') ?></em><?php echo $this->__('Add to Compare') ?></a></li>
									<?php endif; ?>
									</ul>
								</div>
							</div>
						
						<?php if(($_product->getPrice() > $_product->getSpecialPrice() || Mage::getModel('catalog/product')->load($_product->getId())->getTypeID() == 'bundle') && Mage::getModel('catalog/product')->load($_product->getId())->getTimershow() == 1) : ?>
						<?php if($_product->getSpecialPrice()!= 0 || $_product->getSpecialPrice()!= "" ) :?>
								<?php $_current_timer = time(); ?>
								<script type="text/javascript">
									var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
									start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
									start_date = Date.parse(start);
									var dnow<?php echo $count; ?> = new Date(start_date);
									if(CountStepper>0)
										ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
									else
										ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
									//gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
									<?php if(strtotime($fromDate) <= $_current_timer){ ?>
										gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
									<?php }else{ ?>
										gsecs<?php echo $count; ?> = -1;
									<?php } ?>
									var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
									CountBack(gsecs<?php echo $count; ?>,"countbox_"+j, j);
									j++;
								</script>
						<?php $count = $count + 1; ?>
						 <?php endif;endif; ?>
						</div>
					</div>
				</div>
				
			</div>
			
		</li>
	<?php endforeach; ?>
</ol>

<script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
<?php else: ?>

<?php // Grid Mode ?>

<?php $_collectionSize = $_productCollection->count() ?>
<?php $_columnCount = 6; //$this->getColumnCount();?>
<?php $i=0; foreach ($_productCollection as $_product): ?>
<?php $toDate = $_product->getSpecialTODate();?>
<?php $fromDate = $_product->getSpecialFromDate(); ?>
<?php if ($i++%$_columnCount==0): ?>
	<ul class="products-grid row">
	<?php endif ?>
		<li class="col-sm-2 col-sms-12 item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
		<div class="item-inner">
			<div class="images-container">
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500,500); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
			</div>
			<div class="des-container">
				<div class="box-inner1">
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
					<?php if($_product->getRatingSummary()): ?>
					<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
					<?php endif; ?>
					<?php echo $this->getPriceHtml($_product, true) ?>

					<!--Condition for Timer Controllers goes here-->
					<?php if($timer_active == 1) :?>
					<?php if(($_product->getPrice() > $_product->getSpecialPrice() || Mage::getModel('catalog/product')->load($_product->getId())->getTypeID() == 'bundle') && Mage::getModel('catalog/product')->load($_product->getId())->getTimershow() == 1) : ?>
					<?php if($_product->getSpecialPrice()!= 0 || $_product->getSpecialPrice()!= "" ) :?>
					<?php if($timer_head_active == 'showall' || $timer_head_active == 'listpage' && $timer_head_active!='hideall' && $timer_head!= '') : ?>
											<div id="heading<?php echo $count; ?>" style="color:#<?php echo $head_color; ?>; font-size: 14px; font-weight:bold;padding-top:3px;clear: both;"><?php echo $timer_head ?></div>
					<?php endif; ?>
											<div id="countbox_<?php echo $count; ?>" class="timer-grid"></div>
					<?php if($timer_desc_active == 'showall' || $timer_desc_active == 'listpage' && $timer_desc_active!='hideall') : ?>
											
											<?php
											if(Mage::getModel('catalog/product')->load($_product->getId())->getTypeID() == 'bundle')
											{
												echo '<br/><h1 style="color:red">Discount up to '.(100 - Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice()*1).'% </h1>';
											}
											?>
					<?php endif;endif;endif;endif; ?>
					
					
				</div>
				<div class="actions">
					<div class="actions-inner">
						<ul class="add-to-links">
							<?php if ($this->helper('wishlist')->isAllow()) : ?>
							<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><em class="tooltip"><?php echo $this->__('Wishlist') ?></em><?php echo $this->__('Add to Wishlist') ?></a></li>
							<?php endif; ?>
							<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
							<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><em class="tooltip"><?php echo $this->__('Compare') ?></em><?php echo $this->__('Add to Compare') ?></a></li>
							<?php endif; ?>
						</ul>
						<?php if($_product->isSaleable()): ?>
																<button style="width: 22%" type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><em class="tooltip"><?php echo $this->__('Add to cart') ?></em><span><span style="color: white"><?php echo "."; ?></span></span></button>

						<?php else: ?>
							<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
						<?php endif; ?>
					</div>
				</div>
			</div>
		</div>
		
		<?php if(($_product->getPrice() > $_product->getSpecialPrice() || Mage::getModel('catalog/product')->load($_product->getId())->getTypeID() == 'bundle') && Mage::getModel('catalog/product')->load($_product->getId())->getTimershow() == 1) : ?>
		<?php if($_product->getSpecialPrice()!= 0 || $_product->getSpecialPrice()!= "" ) :?>
			<?php $_current_timer = time(); ?>
				<script type="text/javascript">
					var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
					start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
					start_date = Date.parse(start);
					var dnow<?php echo $count; ?> = new Date(start_date);
					if(CountStepper>0)
						ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
					else
						ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
					//gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
					<?php if(strtotime($fromDate) <= $_current_timer){ ?>
						gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
					<?php }else{ ?>
						gsecs<?php echo $count; ?> = -1;
					<?php } ?>

					var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
					CountBack(gsecs<?php echo $count; ?>,"countbox_"+j, j);
					j++;
				</script>
		<?php $count = $count + 1; ?>
		<?php endif;endif; ?>
		
		</li>
		<?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
	</ul>
	<br/>
<?php endif ?>
<?php endforeach ?>
<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
<?php endif; ?>

<div class="toolbar-bottom">
<?php echo $this->getToolbarHtml() ?>
</div>
</div>
<?php endif; ?>

<!--Dynamic style changes goes here-->
