<?php
$className = Mage::getConfig()->getBlockClassName('custommenu/custommenu');
            $block = new $className();  
 $_menu = $block->renderCategoriesMenuHtml(0,'level-top') ?>
<?php if($_menu): ?>
<div class="ma-nav-mobile-container visible-xs">
	<div class="navbar">
		<div id="navbar-inner" class="navbar-inner navbar-inactive">
							<div class="menu-mobile">
								<a class="btn btn-navbar navbar-toggle">
										<span class="icon-bar">icon1</span>
										<span class="icon-bar">icon2</span>
										<span class="icon-bar">icon3</span>
								</a>
								<span class="brand navbar-brand"><?php echo $this->__('Categories') ?></span>
							</div>
			<ul id="ma-mobilemenu" class="mobilemenu nav-collapse collapse">
				<?php echo $_menu ?>
			</ul>
		</div>
	</div>
</div>
<?php endif ?>

<?php $_categories = Mage::helper('catalog/category')->getStoreCategories() ?>
<?php if(count($_categories)): 
    ?>
<div class="nav-container visible-lg visible-md" style="background-color: #800000;margin: 0 !important;" >
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-3">
				<div id="pt_custommenu" class="pt_custommenu">

					<?php
					$collection = Mage::getModel('cms/block')->getCollection()
						->addFieldToFilter('identifier', array('like'=>'pt_item_menu'.'%'))
						->addFieldToFilter('is_active', 1);
					foreach($collection as $key => $value){
						$blockId = $value->getIdentifier();
						$blockHtml = $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml();
						if ($blockHtml) echo $block->drawCustomMenuBlock($blockId);
					}


					?>
					<?php
					$showhome = Mage::getStoreConfig('custommenu/general/showhome');
					$active = '';
					if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') :
						$active = ' act';
					endif;
					if($showhome){
						$id     = "_home";
						$html[] = '<div id="pt_menu' . $id . '" class="pt_menu' . $active . '">';
						$html[] = '<div class="parentMenu">';
						$html[] = '<a href="'.Mage::helper('core/url')->getHomeUrl().'">';
						$html[] = '<span>Home</span>';
						$html[] = '</a>';
						$html[] = '</div>';
						//            $html[] = '<div id="popup' . $id . '" class="popup" style="display: none; width: 1228px;">';
						//            $html[] = '</div>';
						$html[] = '</div>';
						$html = implode("\n", $html);
						echo $html;
					}
					$className = Mage::getConfig()->getBlockClassName('custommenu/custommenu');
					$block = new $className();
					//$block->_prepareData();
					$item = 0;
					foreach ($_categories as $_category): $item++;?>
						<?php echo $block->drawCustomMenuItem($_category,0,false,$item) ?>
					<?php endforeach ?>

					<?php


					/*menu links*/
					$blockLinkId = 'pt_menu_links';
					$blockLinkHtml = $this->getLayout()->createBlock('cms/block')->setBlockId($blockLinkId)->toHtml();
					if ($blockLinkHtml){
						$id     = "_link";
						$htmlLink[] = '<div id="pt_menu' . $id . '" class="pt_menu">';
						$htmlLink[] = '<div class="parentMenu">';
						$htmlLink[] = $blockLinkHtml;
						$htmlLink[] = '</div>';
						$htmlLink[] = '</div>';
						$htmlLink = implode("\n", $htmlLink);
						echo $htmlLink;
					}
					?>

					<div class="clearBoth"></div>

					<style>
						.parentMenu > a >span{
							font-size: 12px;
							font-family: ralewayregular !important;
						}
						.drop-currency .currency-trigger .sub-currency{
							background-color: #fffffe;
						}
						.drop-currency .sub-currency li{
							border-bottom: none;
						}
						.top-link ul.links{
							background-color: #fffffe;
						}
						.top-link ul.links li{
							border-bottom: none;
						}
						.goog-logo-link {
							display:none !important;
						}
						.goog-te-gadget{
							color: transparent !important;
							font-size: 0px;
						}
						.form-language select, .form-currency select{
							background-color: transparent;
							border: none;
							color: #454545 !important;
							font-family: ralewayregular !important;
							font-size: 12px !important;
						}
						.header .form-search input.input-text{
							background-color: #fffffe;
							color: #454545 !important;
							font-family: ralewayregular !important;
							font-size: 12px !important;
						}
						.pt_custommenu div.pt_menu .parentMenu a, .pt_custommenu div.pt_menu .parentMenu span.block-title {
							margin-top: 6px;
							padding: 4px 9px;
						}
						.header a.logo {
							margin: 8px 0;
						}
						.header .quick-access {
							margin: 18px 0;
						}
						.pt_custommenu div.pt_menu .parentMenu a:after, .pt_custommenu div.pt_menu .parentMenu span.block-title:after {
							bottom: -15px;}
						.top-link ul.links li a:hover {
							color: #fff;
							color: #454545 !important;
						}
						.drop-currency .sub-currency li a:hover {
							color: #454545 !important;
						}
						p.welcome-msg {
							color: #454545 !important;
							font-family: ralewayregular !important;
							font-size: 12px !important;
							margin: 0;
							line-height: 26px;
						}

						.block-header span {
							padding: 0px 15px;
						}
						.block-header {
							line-height: 25px;
							padding: 0px 0;
						}
						.drop-currency .currency-trigger span {
							line-height: 0px;
						}
						.drop-currency .currency-trigger .sub-currency {
							top: 28px;
						}
						.goog-te-gadget .goog-te-combo {
							margin: -4px 0
						}
						.drop-currency .currency-trigger {
							cursor: pointer;
							padding: 13px 0;
						}
						.top-link {
							line-height: inherit;
							padding: 3px 0px 0px 15px;
						}
						.toplink-inner {
							top: 28px;
						}
						.pt_custommenu div.popup {						
							position: absolute;
						    z-index: 3000;
						   background-color: beige;
						}
						.pt_custommenu .itemMenu h4.level1, .pt_custommenu .itemMenu a.level1{
							color: #454545 !important;
							font-family: ralewayregular !important;
							font-size: 13px !important;
							padding-top: 5px;
						}
						.pt_custommenu .itemMenu h4.level1, .pt_custommenu .itemMenu a.level1:hover{
							color: #74c5e6 !important;
						}
						.menu-recent .item-inner .images-container:before, .menu-recent .item-inner .images-container:after, .banner-static .banner-box .banner-box-inner img{
							transition: all 0s ease-out;
							-webkit-transition: all 0s ease-out;
							-moz-transition: all 0s ease-out;
							-ms-transition: all 0s ease-out;
							-o-transition: all 0s ease-out;
						}
						.header a.logo img{
							height: 35px;
						}
						.pt_custommenu div.pt_menu .parentMenu a, .pt_custommenu div.pt_menu .parentMenu span.block-title{
							line-height: 35px;
						}
						.pt_custommenu div.pt_menu .parentMenu a, .pt_custommenu div.pt_menu .parentMenu span.block-title{
							margin-top: 6px;
							padding: 3px 11px;
						}
						.pt_custommenu div.pt_menu .parentMenu a:hover:before, .pt_custommenu div.pt_menu .parentMenu span.block-title:hover:before, .pt_custommenu #pt_menu_link ul li a.act:before, .pt_custommenu #pt_menu_link ul li a:hover:before, .pt_custommenu div.pt_menu.act .parentMenu a:before, .pt_custommenu div.pt_menu.active .parentMenu a:before{
							bottom: 5px;
						}
						.pt_custommenu div.popup{
							margin-top: -57px;
						}
						.pt_custommenu div.popup .block1{
							max-width: 900px !important;
						}
						.pt_custommenu div.column.last{
							margin-right: auto !important;
						}
						.menu-recent .item-inner .images-container{
							height: 170px;
						}
						.header .form-search input.input-text{
							top: 30px;
						}
						.top-cart-content{
							top: 30px;
						}
						@media(max-width: 768px){
							#ma-mobilemenu {
								width: 80%;
							}
							.drop-currency .currency-trigger .sub-currency{
								right: -75px;
							}
						}
					</style>
				</div>
			</div>
		</div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
var CUSTOMMENU_POPUP_EFFECT = <?php echo (int)Mage::getStoreConfig('custommenu/popup/effect')?>;
var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo (int)Mage::getStoreConfig('custommenu/popup/top_offset')?>;
//]]>
</script>

<?php endif ?>
