<?php
/**
 * Customer login form template
 *
 * @see app/design/frontend/base/default/template/customer/form/login.phtml
 */
/** @var $this Magentothem_Ajaxlogin_Block_Login */
?>
<div class="ajax-login-di">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="#" method="post" id="ajax-login-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="col2-set">
            <div class="col-1">
                <div class="">
                    <h2><?php echo $this->__('New Customers') ?></h2>
                    <p><?php echo $this->__('By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.') ?></p>
                </div>
            </div>
            <div class="col-2">
                <div class="">
                    <h2><?php echo $this->__('Registered Customers') ?></h2>
                    <p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
                    <ul class="form-list">
                        <li>
                            <label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email-address" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                            </div>
                        </li>
                        <li>
                            <label for="pass" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="login[password]" class="input-text required-entry validate-password" id="password" title="<?php echo $this->__('Password') ?>" />
                            </div>
                        </li>
                        <?php echo $this->getChildHtml('form.additional.info'); ?>
                        <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                    </ul>
                    <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <p class="error-msg"></p>
                </div>
            </div>
        </div>
        <div class="col2-set">
            <div class="col-1 new-users">
                <div class="buttons-set">
                    <img class="ajax-img-rg" width="20px" height="20px" src="<?php echo $this->getAjaxLoadImage() ?>" />
                    <button type="button" title="<?php echo $this->__('Create an Account') ?>" class="button" onclick="showRegisterForm()"><span><span><?php echo $this->__('Create an Account') ?></span></span></button>
                </div>
            </div>
            <div class="col-2 registered-users">
                <div class="buttons-set">
                    <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left"><?php echo $this->__('Forgot Your Password?') ?></a>
                    <img class="ajax-img" width="20px" height="20px" src="<?php echo $this->getAjaxLoadImage() ?>" />
                    <button type="button" class="button" onclick="ajaxLogIn()" title="<?php echo $this->__('Login') ?>"><span><span><?php echo $this->__('Login') ?></span></span></button>
                </div>
            </div>
        </div>
        <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout" />
        <?php endif; ?>
    </form>
</div>
<script type="text/javascript">
    $jq('.ajax-img-rg').hide();
    $jq('.ajax-img').hide();
    $jq('.error-msg').hide();
    function ajaxLogIn() {
        $jq('.error-msg').hide();
        var dataForm = new VarienForm('ajax-login-form', true);
        if(dataForm.validator && dataForm.validator.validate()) {
            $jq('.ajax-img').show();
            $jq.ajax({
                url         : "<?php echo $this->getPostActionUrl() ?>",
                type        : "post",
                data        : {
                    email   : $jq('#email-address').val(),
                    pass    : $jq('#password').val()
                },
                dataType    : "json",
                success     : function(response) {
                    if(response.error == false) {
//                        $jq('#ajax-login-form').remove();
//                        $jq('.ajax-login-di').html("<p>" + response.message + "</p>");
                        <?php if($this->isUseRedirect()): ?>
                            window.location = "<?php echo $this->getUrl('customer/account') ?>";
                        <?php else: ?>
                            $jq('body').load(window.location.href);
                        <?php endif; ?>
                    } else {
                        $jq('.ajax-img').hide();
                        $jq('.error-msg').html(response.message).show(300);
                    }
                }
            });
        }
    }

    function showRegisterForm() {
        $jq('.ajax-img-rg').show();
        $jq.ajax({
            url         : "<?php echo $this->getRegisterUrl() ?>",
            type        : "post",
            dataType    : "json",
            success     : function(response) {
                $jq('.ajax-login-di').remove();
                $jq('.ajax-content').html(response.body);
            }
        });
<!--        window.location='--><?php //echo Mage::helper('persistent')->getCreateAccountUrl($this->getCreateAccountUrl()) ?><!--';-->
    }
</script>