<?php if($this->getItems()->getSize()): ?>
    <?php
        $auto = Mage::getStoreConfig('relatedslider/relatedslider_config/auto');
		$title = Mage::getStoreConfig('relatedslider/relatedslider_config/title');
		$speed = Mage::getStoreConfig('relatedslider/relatedslider_config/speed');
		$show_price = Mage::getStoreConfig('relatedslider/relatedslider_config/show_price');
        $show_wishlist = Mage::getStoreConfig('relatedslider/relatedslider_config/show_wishlist');
		$itemsDefault = Mage::getStoreConfig('relatedslider/relatedslider_config/itemsDefault');
		$itemsDesktop = Mage::getStoreConfig('relatedslider/relatedslider_config/itemsDesktop');
		$itemsDesktopSmall = Mage::getStoreConfig('relatedslider/relatedslider_config/itemsDesktopSmall');
		$itemsTablet = Mage::getStoreConfig('relatedslider/relatedslider_config/itemsTablet');
		$itemsMobile = Mage::getStoreConfig('relatedslider/relatedslider_config/itemsMobile');
        $width_thumbnail = Mage::getStoreConfig('relatedslider/relatedslider_config/width_thumbnail');
        $height_thumbnail = Mage::getStoreConfig('relatedslider/relatedslider_config/height_thumbnail');
        $nav_ctrl = Mage::getStoreConfig('relatedslider/relatedslider_config/nav_ctrl');
        $next_back = Mage::getStoreConfig('relatedslider/relatedslider_config/next_back');	
    ?>
<div class="ma-relatedslider-container">
    <div class="related-product-title title-group">
        <h2><?php echo $this->__($title) ?></h2>
    </div>
        <div class="related-subtitle">
            <?php echo $this->__('Check items to add to the cart or') ?>&nbsp;<a href="#" onclick="selectAllRelated(this); return false;"><?php echo $this->__('select all') ?></a>
        </div>
		<?php $rows = Mage::getStoreConfig('relatedslider/relatedslider_config/row_show');$i=0; ?>
        <div class="owl" id="block-related">
        <?php foreach($this->getItems() as $_item): ?>
			<?php if($i % $rows == 0) echo '<div class="relatedslider-item item">'; ?>
				<div class="item_related">
                <?php if(!$_item->isComposite() && $_item->isSaleable()): ?>
                    <?php if (!$_item->getRequiredOptions()): ?>
                        <input type="checkbox" class="checkbox related-checkbox" id="related-checkbox<?php echo $_item->getId() ?>" name="related_products[]" value="<?php echo $_item->getId() ?>" />
                    <?php endif; ?>
                <?php endif; ?>
                <div class="product item-inner">
					<div class="images-container">
						<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize( $width_thumbnail,$height_thumbnail ) ?>" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" /></a>
					</div>
                    
                    <div class="des-container">
						<div class="box-inner1">
							<p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a></p>
							<?php if( $show_price ): ?>
								<?php echo $this->getPriceHtml($_item, true, '-related') ?>
							<?php endif; ?>
							<?php if ($this->helper('wishlist')->isAllow() && $show_wishlist ) : ?>
								<a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
							<?php endif; ?>
						</div>
                        
                        
                    </div>
                </div>
				</div>
			<?php $i++;?>
			<?php if($i % $rows == 0) echo "</div>"; ?>   
        <?php endforeach ?>
			<?php if($i % $rows != 0) echo "</div>"; ?>
        </div>
        <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>

    <script type="text/javascript">
    $$('.related-checkbox').each(function(elem){
        Event.observe(elem, 'click', addRelatedToProduct)
    });

    var relatedProductsCheckFlag = false;
    function selectAllRelated(txt){
        if (relatedProductsCheckFlag == false) {
            $$('.related-checkbox').each(function(elem){
                elem.checked = true;
            });
            relatedProductsCheckFlag = true;
            txt.innerHTML="<?php echo $this->__('unselect all') ?>";
        } else {
            $$('.related-checkbox').each(function(elem){
                elem.checked = false;
            });
            relatedProductsCheckFlag = false;
            txt.innerHTML="<?php echo $this->__('select all') ?>";
        }
        addRelatedToProduct();
    }

    function addRelatedToProduct(){
        var checkboxes = $$('.related-checkbox');
        var values = [];
		var leng = checkboxes.length;
        for(var i = 0 ; i < leng ; i++){
            if(checkboxes[i].checked) values.push(checkboxes[i].value);
        }
        if($('related-products-field')){
            $('related-products-field').value = values.join(',');
        }
    }
		
		
		$jq(document).ready(function(){
			$jq(".ma-relatedslider-container .owl").owlCarousel({
				autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
				items : <?php if($itemsDefault) echo $itemsDefault; else echo '6'; ?>,
				itemsDesktop : [1199,<?php if($itemsDesktop) echo $itemsDesktop; else echo '5'; ?>],
				itemsDesktopSmall : [980,<?php if($itemsDesktopSmall) echo $itemsDesktopSmall; else echo '3'; ?>],
				itemsTablet: [768,<?php if($itemsTablet) echo $itemsTablet; else echo '2'; ?>],
				itemsMobile : [479,<?php if($itemsMobile) echo $itemsMobile; else echo '1'; ?>],
				slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
				paginationSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
				rewindSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
				navigation : <?php if($next_back) echo 'true'; else echo 'false'; ?>,
				stopOnHover : true,
				pagination : <?php if($nav_ctrl) echo 'true'; else echo 'false'; ?>,
				scrollPerPage:true,
			});
		});
    </script>
</div>
<?php endif ?>
