<script type="text/javascript">
    $jq('.a-login-link').click(function() {
        $jq('#ajax-login-block').show();
        $jq('.ajax-load-img').show();
        $jq.ajax({
            url: "<?php echo $this->getUrl('ajaxlogin/login/index') ?>",
            type: "post",
            data : {param : ''},
            dataType: "json",
            success: function(response) {
                $jq('.ajax-load-img').hide();
                $jq('.ajax-body-login').show();
                $jq('.ajax-body-login .page-title h1').html(response.title);
                $jq('.ajax-body-login .ajax-content').html(response.body);
            }
        });
    });
</script>

<script type="text/javascript">
    function closeLoginForm() {
        $jq('#ajax-login-block').hide();
        $jq('.ajax-body-login').hide();
    }
</script>

<div id="ajax-login-block">
</div>
<div class="ajax-load-img">
    <img alt="" src="<?php echo $this->getAjaxLoadImage() ?>" />
</div>
<div class="ajax-body-login">
    <div class="account-login">
        <div class="page-title">
            <h1>login</h1>
            <a href="#" class="a-close-frm" onclick="closeLoginForm()"><span>Close</span></a>
        </div>
        <div class="ajax-content">
        </div>
    </div>
</div>

<script type="text/javascript">
    $jq('#ajax-login-block').hide();
    $jq('.ajax-body-login').hide();
    $jq('.ajax-load-img').hide();
</script>