<?php /** @var $this Magentothem_Ajaxlogin_Block_Login */ ?>
<script type="text/javascript">

    $jq('.a-logout-link').click(function() {
        $jq('#ajax-login-block').show().css({
            "background-color" : "black",
            "height" : "100%",
            "opacity" : "0.35",
            "position" : "fixed",
            "top" : "0",
            "width" : "100%",
            "z-index" : "1031"
        });
        $jq('.ajax-load-img').show().css({
            "top" : "50%",
            "width" : "100%",
            "position" : "fixed",
            "height": "100%",
            "z-index" : "1050"
        });
        $jq.ajax({
            url: "<?php echo $this->getLogoutActionUrl(); ?>",
            type: "post",
            data : {param : ''},
            dataType: "json",
            success: function(response) {
//                $jq('.ajax-load-img').hide();
//                $jq('.ajax-body-logout').show(400).css({
//                    "background-color" : "white",
//                    "opacity" : "1",
//                    "height" : "100px",
//                    "width" : "400px",
//                    "position" : "fixed",
//                    "top" : "50%",
//                    "left": "50%",
//                    "margin-top" : "-50px",
//                    "margin-left": "-200px",
//                    "z-index" : "200"
//                });
                if(response.error == false) {
//                    $jq('.a-close-frm').hide();
//                    $jq('.error-msg').hide();
//                    $jq('.ajax-body-logout .ajax-content h1').html(response.message);
                    $jq('body').load(window.location.href);
                } else {
                    $jq('.ajax-body-logout .page-title h1').html("Log out account");
                    $jq('.ajax-body-logout .ajax-content h1').hide();
                    $jq('.ajax-body-logout .ajax-content p.error-msg').html(response.message);
                }
            }
        });
    });
</script>

<script type="text/javascript">
    function closeLoginForm() {
        $jq('#ajax-login-block').hide();
        $jq('.ajax-body-logout').hide();
    }
</script>

<div id="ajax-login-block">
</div>
<div class="ajax-load-img">
    <img alt="" src="<?php echo $this->getAjaxLoadImage() ?>" />
</div>
<div class="ajax-body-logout">
    <div class="account-login">
        <div class="page-title">
            <h1>logout</h1>
            <a href="#" class="a-close-frm" onclick="closeLoginForm()"><span>Close</span></a>
        </div>
        <div class="ajax-content">
            <h1>logout</h1>
            <p class="error-msg"></p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $jq('#ajax-login-block').hide();
    $jq('.ajax-body-logout').hide();
    $jq('.ajax-load-img').hide();
</script>