<?php if(!$this->getProducttabsCfg('enabled')) return;
$helper_cf = Mage::helper('producttabs');
$auto = $helper_cf->getProducttabsCfg('auto');
$speed = $helper_cf->getProducttabsCfg('speed');
$itemsDefault = $helper_cf->getProducttabsCfg('itemsDefault');
$itemsDesktop = $helper_cf->getProducttabsCfg('itemsDesktop');
$itemsDesktopSmall = $helper_cf->getProducttabsCfg('itemsDesktopSmall');
$itemsTablet = $helper_cf->getProducttabsCfg('itemsTablet');
$itemsMobile = $helper_cf->getProducttabsCfg('itemsMobile');
$next_back = $helper_cf->getProducttabsCfg('next_back');
$nav_ctrl = $helper_cf->getProducttabsCfg('nav_ctrl');

$product_bestsellers = $helper_cf->getProductCfg('product_bestsellers');
$product_featured = $helper_cf->getProductCfg('product_featured');
$product_mostviewed = $helper_cf->getProductCfg('product_mostviewed');
$product_new = $helper_cf->getProductCfg('product_new');
$product_random = $helper_cf->getProductCfg('product_random');
$product_sale = $helper_cf->getProductCfg('product_sale');


$default = $this->getTypeDefault();
$_tabs = $this->getTabs();
$numtab =count($_tabs);
if($numtab){
?>
<div class="producttabs">
	<h2 class ="producttab-title"><?php echo $this->__($this->getProducttabsCfg('title'))?></h2>
	<ul id="producttabs">
		<?php
			$ac_tab = '';
			$arr_tab  = array();
			$i=1;
			foreach ($_tabs as $type =>$name) {
			$arr_tab[] = $type;
			if($i==1){ $oder = 'first active'; }else if($i== $numtab){ $oder="last";}else {$oder="";}
			$i++;
			if($ac_tab == '')
				$ac_tab = $type;
			
			echo '<li class="item ' .$oder.'"><h3 class ="'.$type.'">'.$name.'</h3></li>';
			}
			
		?>
	</ul>
	<div class="content">
	<?php
	?>
		<?php if(in_array ( 'bestseller' , $arr_tab )): ?>
			<div id="producttab_bestseller"  class="tab <?php if($ac_tab == 'bestseller') echo 'active' ?>">
				<?php echo $this->getChildHtml('bestsellers') ?>
			</div>
		<?php endif; ?>
		<?php if(in_array ( 'featured' , $arr_tab )): ?>
			<div id="producttab_featured"  class="tab <?php if($ac_tab == 'featured') echo 'active' ?>">
				<?php echo $this->getChildHtml('featured') ?>
			</div>
		<?php endif; ?>
		<?php if(in_array ( 'mostviewed' , $arr_tab )): ?>
			<div id="producttab_mostviewed"  class="tab <?php if($ac_tab == 'mostviewed') echo 'active' ?>">
				<?php echo $this->getChildHtml('mostviewed')  ?>
			</div>
		<?php endif; ?>
		<?php if(in_array ( 'new' , $arr_tab )): ?>
			<div id="producttab_new"  class="tab <?php if($ac_tab == 'new') echo 'active' ?>">
				<?php echo $this->getChildHtml('new')  ?>
			</div>
		<?php endif; ?>
		<?php if(in_array ( 'random' , $arr_tab )): ?>
			<div id="producttab_random"  class="tab <?php if($ac_tab == 'random') echo 'active' ?>">
				<?php echo $this->getChildHtml('random')  ?>
			</div>
		<?php endif; ?>
		<?php if(in_array ( 'sale' , $arr_tab )): ?>
			<div id="producttab_sale"  class="tab <?php if($ac_tab == 'sale') echo 'active' ?>">
				<?php echo $this->getChildHtml('sale')  ?>
			</div>
		<?php endif; ?>
	</div>
</div>
	

<script type="text/javascript">
	$jq(document).ready(function(){
		$jq(".producttabs-products-owl").owlCarousel({
		autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
		items : <?php if($itemsDefault) echo $itemsDefault; else echo '6'; ?>,
		itemsDesktop : [1199,<?php if($itemsDesktop) echo $itemsDesktop; else echo '5'; ?>],
		itemsDesktopSmall : [980,<?php if($itemsDesktopSmall) echo $itemsDesktopSmall; else echo '3'; ?>],
		itemsTablet: [768,<?php if($itemsTablet) echo $itemsTablet; else echo '2'; ?>],
		itemsMobile : [479,<?php if($itemsMobile) echo $itemsMobile; else echo '1'; ?>],
		slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
		paginationSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
		rewindSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
		navigation : <?php if($next_back) echo 'true'; else echo 'false'; ?>,
		stopOnHover : true,
		pagination : <?php if($nav_ctrl) echo 'true'; else echo 'false'; ?>,
		scrollPerPage:true,
		});
		
		$jq('#producttabs li').click(function(){
			var pr_tab = $jq(this).find("h3").attr('class');
			$jq( "#producttabs li" ).removeClass( "active" );
			$jq(this).addClass( "active" );
			$jq("#producttab_"+pr_tab).slideDown(400).siblings().slideUp(400);
		});
	}); 
</script>
<?php
}
?>